body{
    text-align: center;
}

.tags{
    display: flow-root;
    width: 100%;
    margin-top:5%;
    /*border: 1px solid lightgrey;*/
}

.tag-btn{
  margin: 7px;
}

.img-div{
  display: block;
  margin-left: 45%;

}

.interview-div{
  text-align: left;
  padding-left:10%;
  padding-right: 10%;
  padding-top: 4%;
}


.back{
  color: black;
}

.back-btn{
  margin-top: 4%;
  margin-bottom: 4%;
}

.read-btn{
  position: relative;
  background-color: lightgray;
  overflow: hidden;

}

.read{
  color: black;
  margin: 0 auto;
}


.read-btn::after {

  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);

}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.read-btn:hover::after, .read-btn:focus::after {
  animation: sheen 1s forwards;
}


.card{
  display: inline-block;
  margin: 3%;
  padding:2%;
  border: 1px solid white;
  text-align: center;
}

.rounded-circle{
  margin: 2%;
  border: 1px solid lightslategrey;
}


.TinT{
    text-align: center;
    background-color: lightgray;
}

@media screen and (max-width: 900px) {
  .TinT {
      font-size: 40%;
      /*margin: 6%;*/
      /*width:150%;*/

  }
}

.sub_heading{
  margin-bottom: 4%;
}

.sub_heading_text{
  padding-bottom: 3%;
}

@media only screen and (max-width: 900px) {
  .sub_heading_text {
    font-size: medium;
  }
}


.main{
    /*background-color: lightgray;*/
}

.head{
    display: inline-block;

}





/*HEAVILY MODIFIED FROM  https://codepen.io/diegopardo/pen/GqEho*/
/*Lettering was used from the codepen link above*/
@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 6em;
  margin: 0.1em;
  position: relative;
  color: #2d2d2d;

  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}

.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}

.letter, .letter:before, .letter:after{
  transition: all 0.5s ease-in-out;
}

.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}

.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}

.letter:hover:before{
  /*color: #fafafa;*/
  /*transform:*/
    /*rotateX(0deg)*/
    /*rotateY(-40deg)*/
    /*rotateZ(0deg);*/
}

.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}


span {

  display: inline-block;
  position: relative;
  padding: 0px 3px;
  transition: 0.8s;
  transform: rotateZ(0deg);

}



span.active {
  /*transform: rotateZ(360deg) !*skewX(-15deg) translateX(16px)*!;*/
   color: aquamarine;
    transform:
      rotateX(0deg)
      rotateY(-30deg)
      rotateZ(0deg);

}

/*   */

