{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %} main">

{#    {/*https://codepen.io/diegopardo/pen/GqEho*/}#}
                <div class="TinT">
                    <div class="Twenty head">
                        <span class="letter" data-letter="T">T</span>
                        <span class="letter" data-letter="W">W</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="N">N</span>
                        <span class="letter" data-letter="T">T</span>
                        <span class="letter" data-letter="Y">Y</span>
                    </div>
                    <div class="in head">
                        <span class="letter" data-letter=""></span>
                        <span class="letter" data-letter="I">I</span>
                        <span class="letter" data-letter="N">N</span>
                        <span class="letter" data-letter=""></span>

                    </div>

                    <div class="Tech head">
                        <span class="letter" data-letter="T">T</span>
                        <span class="letter" data-letter="E">E</span>
                        <span class="letter" data-letter="C">C</span>
                        <span class="letter" data-letter="H">H</span>
                    </div>

                    <div class="sub_heading">
                        <h3 class="sub_heading_text">
                            Twenty Minute Interviews To Peek Inside Our Tech Ecosystem
                        </h3>
                    </div>

{#                        <div class="sub-head">#}
{#                        <h3 class="txtanim1 delay1" >#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">A</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;"></span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">L</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">O</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">O</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">K</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;"></span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">I</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">N</span>#}
{#                      #}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">S</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">I</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">D</span>#}
{#                            <span style="display: inline-block; transform: translate3d(0px, 0%, 0px); transition: all 0.3s ease 0.1s;">E</span>#}
{#                        </h3>#}
{#                    </div>#}
             </div>
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
